* {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: 300;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 568px) {
    font-size: 1.75rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1440px) {
    font-size: 3.5rem;
  }
}

h2 {
  margin-bottom: 3rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
}
